@import '../assets/styles/variables.scss';
@import '../assets/styles/mixins.scss';

.menu-details-header {
    margin: 0 10px 10px;
    .title {
        margin: 0 0 20px 0;
        @include font-properties($font-size: 36px, $color: $brandLogoColor);
    }
    .description {
        margin-bottom: 20px;
        @include font-properties($font-size: 20px, $color: $brandSubTitleColor);
    }
}